---
import BaseLayout from '../../layouts/BaseLayout.astro';
const allPosts = Object.values(import.meta.glob('../posts/*.md', { eager: true }));
const tags = [...new Set(allPosts.map((post: any) => post.frontmatter.tags).flat())];
const pageTitle = "Индекс тегов";
---
<BaseLayout pageTitle={pageTitle}>
    <div class="tags">
        {tags.map((tag) => (
          <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
        ))}
      </div>
</BaseLayout>
<style>
    a {
      color: #00539F;
    }
  
    .tags {
      display: flex;
      flex-wrap: wrap;
    }

.tag {
   padding: .5em 1em;
  background-color: #e9ddff; 
  color: #6A0DAD;
  text-decoration: none;
  font-size: 0.95em;
  border-radius: 2em;
  border: 1px solid #c9a8ff;
  transition: background-color 0.3s ease, color 0.3s ease;
     margin: 0.25em;
}

.tag:hover {
  background-color: #b577e2;
  color: white;
}   
  </style>

 

 
