---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Фрактальная графика";
import Greeting from '../components/Greeting.jsx';
---
<BaseLayout pageTitle={pageTitle}>
  <h2>
    Я рада приветствовать вас на своём ресурсе, посвящённом изучению фрактальной графики!
    <br>Если вы зашли, значит вам интересна тема... Для чего же?
    <br>Не важно! Самое главное — поможет ли вам посещение...
  </h2>
  <section class="photo-gallery-horizontal">
  <div class="scroll-wrapper">
    <div class="gallery-row">
      <img  src="images/frac-1.webp" alt="Fractal 1" />
      <img src="images/frac-2.webp" alt="Fractal 2" />
      <img src="images/frac-3.webp" alt="Fractal 3" />
      <img  src="images/frac-4.webp" alt="Fractal 4" />
      <img src="images/frac-5.webp" alt="Fractal 5" />
      <img src="images/frac-6.webp" alt="Fractal 6" />
      <!-- можно дублировать или подгружать дальше -->
    </div>
  </div>
</section>

  <section class="fractal-benefits">
    <h2> Зачем нужен сайт по фрактальной графике?</h2>
    <ul>
      <li>
        <strong>Образование и саморазвитие</strong><br />
        Фракталы помогают понять сложные математические и природные закономерности простыми средствами.
      </li>
      <li>
      <strong>Развитие визуального и логического мышления</strong><br />
      Построение фракталов тренирует абстрактное мышление и внимание к деталям.
    </li>
    <li>
       <strong>Источники вдохновения для художников и дизайнеров</strong><br />
      Фрактальные узоры используются в цифровом искусстве, генеративном дизайне и моде.
    </li>
    <li>
       <strong>Мост между математикой и природой</strong><br />
      Сайт помогает увидеть, как фракталы встречаются в природе — от снежинок до галактик.
    </li>
    <li>
       <strong>Практика программирования и визуализации</strong><br />
      Генерация фракталов — отличный способ освоить графику, рекурсию и алгоритмы.
    </li>
    <li>
       <strong>Интерактивные эксперименты</strong><br />
      Изменяй параметры и наблюдай, как рождаются сложные формы.
    </li>
    <li>
       <strong>Научная и философская перспектива</strong><br />
      Фракталы затрагивают темы бесконечности, хаоса и структуры Вселенной.
    </li>
    <li>
       <strong>Создание сообщества увлечённых</strong><br />
      Обмен идеями, генеративным искусством и вдохновением.
    </li>
  </ul>
  </section>
<!--
  <Greeting client:load messages={["Привет", "Здравствуйте", "Приветствую", "Эй, привет"]} />
   -->
</BaseLayout>

