---

import Social from './Social.astro';
---

<footer>
  <img class="gerb" src="/images/gerb.png">
  <p>Автор: Лина Ал-Обайди
  <br>студентка РГПУ им. Герцена</p>
  <Social platform="github" username="Lina-Al" logo="github-white.webp" />
  <Social platform="telegramm" username="lina" logo="telegra.png" />
</footer>

<style>
  footer {
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    text-decoration: none;
    align-items: center; 
  }
   p{    
    color:darkgray;
  }
  .gerb{
    width:100px;
    height: auto;
  }

</style>