---
const { platform, username, logo } = Astro.props;
---


<a href={`https://www.${platform}.com/${username}`}><img src={`/images/${logo}`} /></a>

<style>
  a {
  display: flex;
  padding: 0rem 0rem;
  text-decoration: none;
  align-items: center; 
  gap: 0rem; 
  }
  img{
    width:30px;
    height: auto;
  }
</style>

