---
const { platform, username, logo } = Astro.props;
---


<a href={`https://www.${platform}.com/${username}`}><img src={`images/${logo}`} /></a>

<style>
  a {
  display: flex;
  padding: 0.5rem 0.5rem;
  text-decoration: none;
  align-items: center; 
  gap: 0.5rem; 
  }
  img{
    width:50px;
    height: auto;
  }
</style>

